body {
    background-color: #B0CFDD;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
    margin-right: 40px;

}

h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 80px;
    margin-top: 80px;
}

.titulo-familia {
    font-size: 30px;
}

.texto-familia {
    font-size: 20px;
}

li {
    font-size: 17px;
}

.cartao {
    background-color: white;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 15px;
}

.imagens-familia{
    display: flex;
    gap: 10px;
    justify-content: center;
}