body {
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
    margin-right: 40px;

}

h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 80px;
    margin-top: 80px;
    color: #005A9C;
}

.titulo-familia {
    font-size: 30px;
    color: #6CA0DC;
}

.texto-familia {
    font-size: 20px;
    text-decoration: #333333;
}

li {
    font-size: 17px;
}

.cartao {
    background-color: #F4F4F4;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 15px;
    margin-top: 50px;
}

.imagens-familia{
    display: flex;
    gap: 10px;
    justify-content: center;
    border-radius: 10px;
}

.bt-js{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 15px;

}

.decoracoes-bts{
    background-color:#6CA0DC;
    padding: 15px;
    border-radius: 15px;

}